# Device Service
PORT=5002
NODE_ENV=development

# MongoDB
MONGO_URI=

# Gmail SMTP (for OTP emails)
EMAIL_USER=wwww.cawww@gmail.com
EMAIL_PASS=zwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
EMAIL_FROM="wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww"

# Allowed CORS origins (comma-separated)
CORS_ORIGINS=http://localhost
